<div class="grid">
  <div class="grid-item large--three-thirds">

  <div class="wrapper">
    <div class="container">
    {{ page.content }}
    {% section 'ywm-sitemap' %}
     </div>
  </div>

  </div>
</div>